{% extends "layouts/layout.twig" %}

{% block page %}
	<div id="portfolio">
		<ul id="projects-list">
			<li><a href="" class="seen"><span>Bulbizarre</span></a></li>
			<li><a href=""><span>Herbizarre</span></a></li>
			<li><a href=""><span>Florizarre</span></a></li>
			<li><a href=""><span>Salamèche</span></a></li>
			<li><a href="" class="seen"><span>Reptincel</span></a></li>
			<li><a href=""><span>Dracaufeu</span></a></li>
			<li><a href=""><span>Carapuce</span></a></li>
			<li><a href="" class="seen"><span>Carabaffe</span></a></li>
			<li><a href="" class="seen"><span>Tortank</span></a></li>
			<li><a href=""><span>Miyazaki</span></a></li>
			<li><a href=""><span>W. Disney</span></a></li>
			<li><a href=""><span>Monkey x Elephant</span></a></li>
			<li><a href="" class="seen"><span>Batman</span></a></li>
			<li><a href=""><span>Avengers</span></a></li>
			<li><a href=""><span>Grande</span></a></li>
			<li><a href="" class="seen"><span>Bitch</span></a></li>
			<li><a href="" class="seen"><span>Gentoo</span></a></li>
			<li><a href=""><span>Miyazaki</span></a></li>
			<li><a href=""><span>W. Disney</span></a></li>
			<li><a href=""><span>Monkey x Elephant</span></a></li>
			<li><a href="" class="seen"><span>Batman</span></a></li>
			<li><a href=""><span>Avengers</span></a></li>
			<li><a href=""><span>Grande</span></a></li>
			<li><a href="" class="seen"><span>Bitch</span></a></li>
			<li><a href="" class="seen"><span>Gentoo</span></a></li>
			<li><a href=""><span>Miyazaki</span></a></li>
			<li><a href=""><span>W. Disney</span></a></li>
			<li><a href=""><span>Monkey x Elephant</span></a></li>
			<li><a href="" class="seen"><span>Batman</span></a></li>
			<li><a href=""><span>Avengers</span></a></li>
			<li><a href=""><span>Grande</span></a></li>
			<li><a href="" class="seen"><span>Bitch</span></a></li>
		</ul>
		<figure>
			<img src="http://lorempixel.com/output/abstract-q-c-1080-480-8.jpg" alt=""/>
			<img src="http://lorempixel.com/output/animals-q-c-1080-480-9.jpg" alt="" />
			<img src="http://lorempixel.com/output/nature-q-c-1080-804-1.jpg" alt="" />
		</figure>
		<nav id="pagination"></nav>
	</div>
{% endblock %}