{% extends "layouts/layout.twig" %}

{% block page %}
	<div id="portfolio">
		<ul id="projects-list">
		</ul>
		<figure>
			<img src="http://lorempixel.com/output/abstract-q-c-1080-480-8.jpg" alt=""/>
			<img src="http://lorempixel.com/output/animals-q-c-1080-480-9.jpg" alt="" />
			<img src="http://lorempixel.com/output/nature-q-c-1080-804-1.jpg" alt="" />
		</figure>
		<nav id="pagination"></nav>
	</div>
{% endblock %}