header#vgnav {
	max-width: 300px;
	margin: 0 auto;
	#description {
		text-align: center;
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 32px;
		letter-spacing: .07em;
	}

	nav {
		text-align: center;
		font-size: 22px;
		line-height: 27.5px;
		a {
			color: #000000;
			letter-spacing: .14em;
			&.active {
				color: #6e6e6e;
				text-decoration: underline;
			}
		}
	}
}