<header id="vgnav">
	<p id="description">
		Réalisation de projets sur commande <br>
		06 46 86 04 83 - <a href="mailto:gouteyron@outlook.fr">Gouteyron@outlook.fr</a> <br>
		5, rue Paul Albert 75018 Paris <br>
	</p>
	<nav>
		<ul>
			<li><a href="" class="active">SÉRIGRAPHIE</a></li>
			<li><a href="">DIRECTION ARTISTIQUE</a></li>
			<li><a href="">BLOG</a></li>
		</ul>
	</nav>
</header>